<launch>

  <rosparam file="$(find planner)/config/plan_params.yaml" />
  
  <node pkg="planner" name="planner_node" type="planner_node" output="screen"/>

  <include file="$(find mapping)/launch/mapping.launch" >
    <arg name="rviz_arg" value="-d $(find planner)/config/default.rviz" />
  </include>

</launch>