<launch>

  <rosparam file="$(find dynamics)/config/sim_params.yaml" />
  <rosparam file="$(find dynamics)/config/P3D_Q2D/dynamic_params.yaml"/>

  <node pkg="dynamics" name="dynamcis_node" type="dynamics_node" output="screen"/>

  <include file="$(find controller)/launch/controller.launch" />

</launch>