<launch>

  <rosparam file="$(find controller)/config/grid_params.yaml" />
  <rosparam file="$(find controller)/config/spat_derivs.yaml" />
  <!-- <rosparam file="$(find controller)/config/spat_derivs4.yaml" /> -->

  <node pkg="controller" name="controller_node" type="controller_node" output="screen"/>

</launch>